@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Raleway:wght@100;200;300;400&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 640px;
}

h1 {
    text-align: center;
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.2rem;
    width: 100%;
}

label,
input,
button,
select,
textarea,
p {
    font-family: PT Sans, Arial, sans-serif;
}

p {
    text-align: left;
    color: navy;
    font-weight: 600;
}

label {
    text-align: left;
    padding-right: 1rem;

}

input,
select,
textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
}

img {
    margin: 1rem;
    width: 50%;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    background-color: blue;
    transition: 0.5s;
}

.section div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#q1,
#q2,
#q3,
#q4 {
    width: 100%;
}

.section >.form-item {
    display: grid;
}
.section >
.question1,
.question2,
.question3,
.question4 {
    grid-template-columns: 3% 90%;
    margin: 0.8rem 0;
}